/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F9D6C3;
    font-family: Montserrat, sans-serif;
}

/* Header Container */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 999;
}

/* Logo */
.header-left .logo img {
    max-width: 200px; /* Adjust logo size */
}

/* Menu Items - Desktop */
.header-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-right ul {
    display: flex;
    list-style: none;
}

.header-right li {
    margin: 0 10px;
}

.header-right a {
    text-decoration: none;
    color: #F9D6C3; /* Change to your preferred text color */
    font-weight: bold;
}

ul li {
    position: relative;
    margin-left: 5px;
}

ul li a {
    color: #F9D6C3;
    text-decoration: none;
    padding: 0.5em 1em;
    display: inline-block;
    position: relative;
}

ul li a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #F9D6C3;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

ul li a:hover::after,
ul li a.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Menu Toggle Button - Mobile */
.header-menu-toggle {
    display: none;
    cursor: pointer;
}

.header-menu-toggle img {
    width: 30px;
}

/* Mobile View */
@media (max-width: 768px) {
    /* Hide menu items and display the toggle button */
    .header-container{
        background-color: #1E1D1D;
    }
    .header-right {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #1E1D1D; /* Change to your preferred background color */
      width: 100%;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  
    .header-right.show {
      display: flex;
    }
  
    .header-right ul {
      flex-direction: column;
      align-items: center;
    }
  
    .header-right li {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      /* border-bottom: 1px solid #eee; */
    }
  
    .header-right a {
      width: 100%;
      padding: 10px 0;
    }
  
    /* Display the toggle button */
    .header-menu-toggle {
      display: block;
    }
    
    ul li a:hover::after,
    ul li a.active::after {
       display: none;
    }
}
