/* Reset styles */
* {
    color: #F9D6C3; /* Ensuring consistent text color */
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

.r-underline {
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1E1D1D;
}

.header-left .logo img {
    height: 90px;
}

.header-right {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
    margin-left: 5px;
}

ul li a {
    color: #F9D6C3;
    text-decoration: none;
    padding: 0.5em 1em;
    display: inline-block;
    position: relative;
}

ul li a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #F9D6C3;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

ul li a:hover::after,
ul li a.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Mobile menu styles */
.header-menu-toggle {
    display: none;
    cursor: pointer;
}

.header-menu-toggle img {
    width: 30px;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        width: 100%;
        display: none; /* Hide menu links by default on mobile */
        flex-direction: column;
        margin-top: 10px;
    }

    .header-menu-toggle {
        display: block;
    }

    .header-right.show {
        display: flex; /* Show menu links when toggled */
    }

    ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    ul li {
        width: 100%;
        text-align: center;
    }

    ul li a {
        padding: 1em;
    }
}
