.products-container {
    margin-top: -98px; /* Adjusts the vertical spacing above the container */
    /* padding: 20px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-color: #1E1D1D;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    /* color: #333; */
    text-align: center;
}

.products-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Increased space between images */
}

.product-image {
    width: 350px; /* Increased image width */
    height: 350px; /* Increased image height */
    object-fit: cover; /* Ensures the image fits the container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

select {
    display: block; /* Makes it behave as a block element */
    margin: 0 auto; /* Centers it horizontally */
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #1E1D1D;
    
    margin-bottom: 30px;
}








  
  .MuiPagination-ul {
    justify-content: center;
    color: antiquewhite;
  }